/* -------------------------------------------------------------------------- */
/*                                   SideBar                                  */
/* -------------------------------------------------------------------------- */

:root {
  --faseeh-sidebar-width: calc(var(--spacing) * 12);
}

@utility faseeh-sidebar {
  @apply flex flex-col items-center space-y-4;
  @apply h-full px-1.5 pt-1;
  max-width: var(--faseeh-sidebar-width);
  border-right: var(--faseeh-border-width) solid var(--faseeh-border-primary);
}

@utility faseeh-sidebar__logo {
  @apply h-9 pt-1 mb-5;
}

@utility faseeh-sidebar__button {
  @apply flex flex-col items-center justify-center;
  @apply w-8 h-8;
  @apply rounded-lg;
  @apply text-sidebar-foreground;
  @apply relative;

  &:hover {
    @apply bg-sidebar-accent text-sidebar-accent-foreground;
  }

  &.active {
    @apply bg-sidebar-primary text-sidebar-primary-foreground;
  }

  > span {
    @apply h-5 w-5;
  }
}
